<ion-modal-view>
        <ion-header-bar class="bar-royal bar bar-header disable-user-behavior">
          <h1 class="title" style="padding: 0 0 0 30px;">New Appointment</h1>

          <a class="button icon ion-close cust_bar" ng-click="modal.hide()">
      </a>
    
        </ion-header-bar>

     

        <ion-content class="contentColor">
    

             <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: -3px -4px;" >
               <div class="list card" style="border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

                 <div class="list list-inset cust_form_list" style=" margin: 20px 3px 15px 3px;">
                    &nbsp;&nbsp;
                    <select class="hospital-select" ng-model="selectedHospital" ng-options="option.hospitalName for option in hospitalNameList" ng-change="hospitalChanged(selectedHospital)"></select>
                    <hr class="hrtag">
                    <label class="item item-input item-floating-label-1 cust_item_input" >
                      <!-- <span class="input-label">Name</span> -->
                      <input ng-model="newAppointmentData.User_Name" type="text" placeholder="Name">
                    </label>

                    <label class="item item-input item-floating-label-1 cust_item_input">
                      <!-- <span class="input-label">Phone No</span> -->
                      <input ng-model="newAppointmentData.User_Phone" type="number" placeholder="Phone no." maxlength="10" minlength="10">
                    </label>

                    <label class="item item-input item-floating-label-1 cust_item_input">
                      <!-- <span class="input-label">Email</span> -->
                      <input ng-model="newAppointmentData.User_Mail" type="text" placeholder="Email">
                    </label>

                    <label class="item item-input item-floating-label-1 cust_item_input" ng-click="openDatePicker()">
                      <!-- <span class="input-label">Date</span> -->
                      <input ng-model="newAppointmentData.Appointment_Date" type="datetime"  placeholder="Date">
                    </label>

                     <label class="item item-input item-floating-label-1 cust_item_input">
                      <!-- <span class="input-label">Email</span> -->
                      <input type="text" placeholder="Weight">
                    </label>

                     <label class="item item-input item-floating-label-1 cust_item_input">
                      <!-- <span class="input-label">Email</span> -->
                      <input type="text" placeholder="Temperature">
                    </label>

                     <label class="item item-input item-floating-label-1 cust_item_input">
                      <!-- <span class="input-label">Email</span> -->
                      <input type="text" placeholder="Blood Pressure">
                    </label>

                     <label class="item item-input item-floating-label-1 cust_item_input"  style="margin-bottom:30px;">
                      <!-- <span class="input-label">Email</span> -->
                      <input type="text" placeholder="Pulse">
                    </label>

           </div>

        </div>
      </div>
        </ion-content>


     <button class="button footer_btn" style="border:none !important" ng-click="addAppointment()" >Save</button>


      </ion-modal-view>
