<ion-view view-title="Add Practice" hide-back-button="true">

  <ion-nav-buttons side="left">
        <button class="button button-icon" ui-sref="menu.doctorClinicDetails">
            <i class="icon ion-ios-arrow-left"></i>
        </button>
    </ion-nav-buttons>

  <ion-nav-buttons side="right">
        <a class="button icon ion-checkmark cust_bar" ng-click="goToDoctorClinic()"></a>
    </ion-nav-buttons>

  <ion-content>

   <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 0px;" >
      <div class="list card" style="margin-bottom: 0px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">
         <div class="list card list-inset marginCard" style="margin-bottom: 20px;">
            <ion-item class="itemBottomBorderPadding">
            <i>CLINICAL DETAILS</i>
         </ion-item>


           <label class="item item-input item-floating-label-1 cust_item_input" >
              <!-- <span class="input-label">Name</span> -->
              <input type="text" class="cust_input_text" placeholder="Clinic Name" ng-model="clinic.Hospital_Name">
            </label>


         <label class="item item-input item-floating-label-1 cust_item_input" >
      <!--   <span class="input-label">Phone</span> -->
           <input type="Number" maxlength="10" class="cust_input_text" placeholder="Clinic Phone" ng-model="clinic.Hospital_Phone">
        </label>

         <label class="item item-input item-floating-label-1 cust_item_input" >
        <!-- <span class="input-label">Address</span> -->
           <input type="text"  class="cust_input_text_area" placeholder="Clinic Address" ng-model="clinic.Address"/>
        </label>


         <label class="item item-input item-floating-label-1 cust_item_input" >
       <!--  <span class="input-label">Locality</span> -->
          <input type="text"  class="cust_input_text" placeholder="Clinic Locality" ng-model="clinic.Locality">
        </label>


         <label class="item item-input item-floating-label-1 cust_item_input" >
      <!--   <span class="input-label">Charges</span> -->
           <input type="Number" maxlength="5" class="cust_input_text" style="margin-bottom:30px;" placeholder="Consultation Fee"  ng-model="firstVisitFee.firstVisit">
        </label>


    <!-- </div> -->
  </div>
 </div>


 <!-- <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 0px;" > -->
    <div class="list card" style="margin-bottom: 0px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">
       <div class="list card list-inset marginCard" style="margin-bottom: 20px;">

          <ion-item class="itemBottomBorderPadding">
              <i>CONSULTATION</i>
          </ion-item>

       <div class="list" ng-click="editconsultationHours()" ng-repeat="timig in dayTimingArray track by $index">
            <label class="item item-input item-floating-label-1 cust_item_input" >
              <span class="input-label">Days</span>
              <input type="text" class="cust_input_text" placeholder={{timig.days}} disabled>
            </label>
          <label class="item item-input item-floating-label-1 cust_item_input" >
            <span class="input-label">Timings</span>
            <input type="text" class="cust_input_text"  placeholder={{timig.timeString}} disabled>
          </label>
          <label class="item item-input item-floating-label-1 cust_item_input" >
            <span class="input-label">Time Slot</span>
            <input type="text" class="cust_input_text"  placeholder={{timig.time_slot}} disabled>
          </label>
      </div>

          <a class="button button-block button-assertive button-outline cust_btn_margin" ng-click="addconsultationHours()">
              + Add New
          </a>
        <!-- </div> -->
      </div>
    </div>

   <!-- <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 0px;" > -->
      <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">
          <div class="list card list-inset marginCard" style="margin-bottom: 20px;">

                <ion-item class="itemBottomBorderPadding">
                    <i>SERVICES</i>
                </ion-item>
           <!--  <div class="list card list-inset removeShadow "> -->
               <label class="item item-input item-floating-label-1 cust_item_input" ng-repeat="service in servicesSelected track by $index">
               <!--  <span class="input-label"> -->
                  <p>
                  {{service.name}}
                  </p><!-- </span> -->
               </label>
          <!-- </div> -->

         <a class="button button-block button-assertive button-outline cust_btn_margin" ng-click="openServiceModal()">
              + Add New
          </a>

       </div>
     </div>
   </div>

  </ion-content>
</ion-view>
