<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-royal">
    <div class="buttons">
      <a class="button icon ion-close cust_bar" ng-click = "modalReceptionists.hide()">
      </a>
    </div>
    <h1 class="title">Add Receptionists</h1>
    <div class="buttons">
      <a class="button icon ion-checkmark-round cust_bar" ng-click = "modalReceptionists.hide()">
      </a>
    </div>
  </ion-header-bar>
  	<ion-content ng-controller = "addReceptionistsModalCtrl">
      <div class="list card list-inset marginCard">
        <ion-item class="itemBottomBorderPadding">
            <i>RECEPTIONISTS</i>
      </ion-item>
        <div class="list card list-inset removeShadow ">
          <label class="item item-input cust_border">
            <span class="input-label">Name</span>
            <!-- <span class="input-label">MON-FRI</span> -->
            <input type="text" placeholder="Ramchandra Patel">
          </label>
        <label class="item item-input cust_border">
          <span class="input-label">Phone</span>
          <input type="text" placeholder="7600398363">
        </label>
      </div>
      </div>
    </ion-content>
</ion-modal-view>
