<ion-view view-title="Analysis & Reports">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>

      <ion-content class="contentColor">

         <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 0px;" >
            <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">
             <div class="list list-inset cust_form_list" style=" margin: 20px 20px 20px 20px;">

              <div class="item zeroBorder">
                 <canvas id="bar" class="chart chart-line" data="graph.data" labels="graph.labels" series='graph.series' height="150" legend=true colours="graph.color">
                 </canvas>
             </div>
           </div>
          </div>


          <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

           <div class="list list-inset cust_form_list" style=" margin: 20px 20px 20px 20px;">


                  <label class="item item-input zeroBorder">
                    <div class="col col-66 input-label kidColor">Total Revenue</div>
                    <div class="col col-33 input-label alignRightPadding kidColor"><b>&#8377  {{totalAmount}}</b></div>
                  </label>

                  <label class="item item-input zeroBorder">
                    <div class="col col-66 input-label kidColor">Total Appointments</div>
                    <div class="col col-33 input-label alignRightPadding kidColor" style="padding-right: 20px;"><b>{{totalNoofAppointment}}</b></div>
                  </label>

        </div>
      </div>
     </div>
  </ion-content>
</ion-view>
