<!--  Created by Sarswati Kumar Pandey  -->

<ion-view hide-back-button="true">
  <ion-nav-title>Appointments</ion-nav-title>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>

  </ion-nav-buttons>


  <ion-content class="apt_bg_color">
    <div>
        <flex-calendar options="options" events="events"></flex-calendar>
    </div>
    <ion-list show-delete="showCancel"  class="item-icon-right item-icon-left" >
      <div class="showErrorDiv" ng-show="showErrorMsg">{{errorMsg}}</div>


      <div id="updateDiv" class="updateRow" ng-click="showUpdates()">{{updateCount}}</div>
      <div ng-repeat="items in updatedHospitalList" class="backgroundwhite">
        <div class="row countRow">
          <div class="col-50"> {{items.hospitalName}} </div>
          <div class="col-50 appointmentLengthRight"> {{items.length}} Appointments</div>
        </div>

      <ion-item ng-repeat="item in items.appointmentItems | orderBy: 'Appointment_Status' " style="margin-bottom: 0px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);"  ng-class="{contentMargin: item.Appointment_Status=='Confirmed', contentMarginRed: item.Appointment_Status=='Cancelled', contentMarginVisited: item.Appointment_Status=='Visited'}">

        <div class="appoinment_row">
          <div class="col col-20 timeApt">{{item.Appointment_Time}} </div>
          <div class="col col-50 patientName" >{{item.User_Name}} <br/><span style="font-size:11px"; ng-class="{contentStatus: item.Appointment_Status=='Confirmed', contentStatusRed: item.Appointment_Status=='Cancelled', contentStatusVisited: item.Appointment_Status=='Visited'}"> {{item.Appointment_Status}}</samp></div>
            <div class="col col-10 col-offset-10  lefttelephone" ng-show = "item.User_Name.length>1" >
            <a class="icon ion-ios-telephone-outline telephone" ng-href="tel: {{item.User_Phone}}"></a>

          
         </div>

          <div class="col col-10 col-offset-10 leftclipboard" ng-show="item.Appointment_Status=='Confirmed' && item.User_Name.length>1 ">
            <a class ="icon ion-clipboard telephone" ng-click = "saveAppointmentDetails(item)" ui-sref="menu.saveMedicalRecord"> </a>

      
         </div>

          



        <span> <ion-option-button class="button-assertive" can-swipe="item.Appointment_Status=='Confirmed'" ng-click = "cancelAppointment(item)" ng-show="item.Appointment_Status=='Confirmed'">Cancel</ion-option-button> </span>
            </div>
          </ion-item>

        </div>
        <div id="hideBackground"></div>
    </ion-list>


  </ion-content>
   <div class="bar-footer">
  <fab-button target-id="scrollFabButtonTarget" ng-click="modal.show()">
      <i class="icon ion ion-android-add"></i>
    </fab-button>
</div>
</ion-view>
