<div class="header monthYearHeader">
    <i class="nextIcon" ng-click="previous()"><<</i>
    <span class="monthYear">{{month.format("MMMM, YYYY")}}</span>
    <i class="nextIcon" ng-click="next()">>></i>

</div>
<div class="row">
    <span class="col dayCol">Sun</span>
    <span class="col dayCol">Mon</span>
    <span class="col dayCol">Tue</span>
    <span class="col dayCol">Wed</span>
    <span class="col dayCol">Thu</span>
    <span class="col dayCol">Fri</span>
    <span class="col dayCol">Sat</span>
</div>
<div class="week" ng-repeat="week in weeks">
  
   <div class="row" style="flex-wrap: wrap;">
      <div class="col dateCol" ng-repeat="day in week.days" ng-click="select(day)">
        {{day.number}}
      </div>
    </div>
</div>
