<ion-view hide-back-button="true">

    <ion-nav-title>{{patientData.User_Name}}</ion-nav-title>

  <ion-nav-buttons side="left">
        <button class="button button-icon button-royal" ui-sref="menu.patients">
            <i class="icon ion-ios-arrow-left"></i>
        </button>
    </ion-nav-buttons>

  <ion-content class="has-header">
      <div class="list list-inset" style="margin:0;">

                  <div ng-repeat="message in messages" class="message-wrapper">

                      <div ng-if="cssUser !== message.kidoroCode">

                        <div class="chat-bubble left">
                          <img class="profile-pic left" ng-src="./img/noimage.png" ng-show = "message.dp == null" width="50px"/>
                          <img class="profile-pic left" ng-src="{{message.dp}}" />

                            <div class="message-detail" style="color: #111">
                                <span class="bold">{{message.user}}</span>,
                                <span>{{message.displayTime}}</span>
                            </div>

                            <div class="message">
                              {{message.text}}
                            </div>
                        </div>
                        <br/>

                      </div>

                      <div ng-if="cssUser === message.kidoroCode">


                          <div class="chat-bubble right">
                            <img class="profile-pic right" ng-src="./img/noimage.png" ng-show = "message.dp == null" width="50px"/>
                            <img class="profile-pic right" ng-src="{{message.dp}}" />

                            <div class="message-detail" style="color: #111">
                                <span class="bold">{{message.user}}</span>,
                                <span>{{message.displayTime}}</span>
                            </div>

                              <div class="message">
                                {{message.text}}
                              </div>



                          </div>


                      </div>

                  </div>
                </div>
        <br><br><br>
  </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset custom_chat_footer" ng-click = "scrollBottom()">

                <label class="item-input-wrapper" style="height: 45px; background-color: #fff;">
                  <input type="text" placeholder="{{savedlang.typeurmsg}}" ng-model = "newmessage.text" />
                </label>

                <div class="footer-btn-wrap">
                  <button class="button button-icon icon ion-android-send footer-btn" ng-click="sendMessage(newmessage)" ng-model="data.message"  ng-disabled = "!newmessage.text.length || newmessage.text.length === ''"></button>
                </div>

        </ion-footer-bar>

</ion-view>
