<ion-modal-view cache-view="false">

  <ion-header-bar align-title="left" class="bar-royal">
    <div class="buttons">
      <a class="button icon ion-close cust_bar" ng-click = "closeconsultationHours()">
      </a>
    </div>
    <h1 class="title">Consultation Hours</h1>
    <div class="buttons">
      <a class="button icon ion-checkmark-round cust_bar" ng-click = "consultationHoursDone()">
      </a>
    </div>
  </ion-header-bar>

  	<ion-content>

      <div class="list list-inset">
        <div class="item cust_divider">
          <div class="adjustDays"><p class="cust_day_time">DAYS</p></div>
        </div>

        <ion-toggle ng-repeat="item in dayList"
                    ng-model="item.checked"
                    ng-checked="item.checked">
          {{ item.day }}
        </ion-toggle>
      </div>

      <div class="list list-inset">
        <div class="item cust_divider">
          <div class="adjustDays"><p class="cust_day_time">TIME</p>
          </div>
        </div>

             <div class="item-input border_time_slot" ng-repeat="input in inputs track by $index" >

            <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="fromTimePickerCallback">

        <div class="item-input-wrapper cust_time_slot" class=".col" ng-click="getIndex($index)">
            <input type="text" placeholder={{input.fromTime}} ng-model="input.fromTime" ng-disabled="true"/>
        </div>

            </ionic-timepicker>&nbsp
             <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="toTimePickerCallback">
        <div class="item-input-wrapper cust_time_slot" class=".col" ng-click="getIndex($index)">
            <input type="text" placeholder={{input.toTime}} ng-model="input.toTime" ng-disabled="true"/>
        </div>
         </ionic-timepicker>&nbsp
        <button class="button button-small button-balanced cust_plus" ng-if="$index == inputs.length - 1" ng-click="addInput()">
            <i class="icon ion-plus"></i>
        </button>
            <button class="button button-small button-assertive cust_minus" ng-if="$index != inputs.length - 1" ng-click="removeInput($index)">
            <i class="icon ion-minus"></i>
        </button>

    </div>

        <label class="item item-input item-select">
        <div class="input-label">
        Time Slot
        </div>
        <select ng-model="timeSlot" class="timeSlotFont" ng-options="option.time for option in timeSlotArray" ng-change="timeSlotChange(timeSlot)"></select>
        </label>
      </div>
    </ion-content>
</ion-modal-view>
