<ion-view view-title="Profile" cache-view="false">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">

    <button class="button button-icon ion-android-more-vertical" ng-click="popover.show($event)">
    </button>
  </ion-nav-buttons>

    <ion-content class="contentColor">

       <div class="item item-avtar side-menu-header-profile">
            <div class="adjust_avtar_profile">
            <div class="">
               <img src={{doctorDetails.Doc_Pic}} height="80" class="avtar_profile">
            </div>
            <h3 class="title colorPatientName">{{doctorDetails.Doc_Name}}
            </h3>
            <h3 class="title colorPatientName_a">{{doctorDetails.Kidoro_Doc_Code}}
            </h3>
          </div>
       </div>

       <div class="button-bar" >
          <a class="button cust_btn_profile"  ng-click="showMom()" id = "btn_mom">Info</a>
          <a class="button cust_btn_profile" ng-click= "showKidoro()" id = "btn_kid">Clinic</a>
          <!-- <a class="button cust_btn_profile" ng-click= "showFamily()" id = "btn_family">{{savedlang.partner}}</a> -->
        </div>

         <div ng-show="div1" class="hideByDefault" style="background-color: #EFF1F5;">

           <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 1px;" >
             <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

            <!--  <div class="item item-thumbnail-left"> -->
             <div class="list list-inset cust_form_list" style=" margin: 20px 0 20px 40px;">

               <span class="input-label">Education</span>
                <p ng-show="doctorDetails.qual !==null">{{doctorDetails.qual}}</p>
                 <span class="input-label">Specialization</span>
                <p ng-show="doctorDetails.Specialization  !==null">{{doctorDetails.Specialization}}</p>
                 <span class="input-label">Experience</span>
                <p style:"font-size: 14px" ng-show="doctorDetails.Experience !==null">{{doctorDetails.Experience}} years</p>
             </div>
             <!-- </div> -->
             </div>

             <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

             <!--  <div class="item item-thumbnail-left"> -->
              <div class="list list-inset cust_form_list" style="margin: 20px 0 20px 40px;">
               <span class="input-label">Phone No.</span>
                  <p ng-show="doctorDetails.Doc_Phone !==null">{{doctorDetails.Doc_Phone}}</p>
                   <span class="input-label">Email</span>
                  <p ng-show="doctorDetails.Doc_Email !==null">{{doctorDetails.Doc_Email}}</p>
              </div>
             <!--  </div> -->
        </div>

        </div>
      </div>

    <div ng-show="div2" class="hideByDefault"  style="background-color: #EFF1F5;">
      <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 1px;">
       <div class="list card"  style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);"
 ng-repeat="location in LocationDataArray">


         <div class="item-button-right" id="editIcon">
            <a class="button button-icon ion-android-more-vertical" ng-click = "popovereditclicked($event,location)" >
            </a>
         </div>


         <div class="list list-inset cust_form_list" style="margin: 20px 0 20px 40px;">


          <span class="input-label" >Clinic Name</span>
           <p class="clinicName">{{location.Hospital_Name}}</p>

          <span class="input-label">Location</span>
           <p ng-show="location.Locality !==null">{{location.Locality}}</p>

          <span class="input-label">Timing</span>
           <p class="clinicText">{{location.Timing[0].days}}</p>
           <p class="clinicText">{{location.Timing[0].timing[0].fromTime}} - {{location.Timing[0].timing[0].toTime}}</p>

          <span class="input-label">Consultation</span>
           <p class="tex-wrap clinicText">&#8377 {{location.Consultation_Fee[0].firstVisit}} /-</p>
        </div>
       </div>
       <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">


              <div class="list list-inset cust_form_list" style="margin: 20px 0 20px 40px;">
              <span class="input-label">Phone No.</span>
                <p ng-show="doctorDetails.Doc_Phone !==null">{{doctorDetails.Doc_Phone}}</p>
                <span class="input-label">Email</span>
                <p ng-show="doctorDetails.Doc_Email !==null">{{doctorDetails.Doc_Email}}</p>
              </div>
          <!-- </div> -->

          </div>  </div>
      </div>


<!-- <a class="button button-block button-assertive button-outline cust_btn_margin" ng-click="addClinic()">
        + Add Practice
    </a> -->
</ion-content>

        <div class="bar-footer">
              <fab-button target-id="scrollFabButtonTarget" ng-click="addClinic()">
                  <i class="icon ion ion-android-add"></i>
                </fab-button>
            </div>



</ion-view>
