<ion-view view-title="Edit Profile" hide-back-button="true">

  <ion-nav-buttons side="left">
        <button class="button button-icon" ui-sref="menu.doctorClinicDetails">
             <i class="icon ion-ios-arrow-left"></i>
        </button>
    </ion-nav-buttons>

  <ion-nav-buttons side="right">
        <a class="button icon ion-checkmark cust_bar" ng-click="goToDoctorClinic()">
        </a>
    </ion-nav-buttons>

  <ion-content class="contentColor">

      <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 1px;" >
        <div class="list card" style="margin-bottom: 0px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">



    <div class="list card list-inset marginCard"  style="margin-bottom: 20px;">
      <ion-item class="itemBottomBorderPadding" >
          <i>CONTACT</i>
    </ion-item>


      <div class="list" >

       <label class="item item-input item-floating-label-1 cust_item_input"  style ="padding-top:15px !important;">
        <span class="input-label">Phone</span>
        <input type="Number" class="cust_input_text" placeholder={{doctorDetails.Doc_Phone}} ng-model="doctorDetails.Doc_Phone" maxlength="10">
      </label>


      <label class="item item-input item-floating-label-1 cust_item_input" >
        <span class="input-label">Address</span>
        <input type ="text" class="cust_input_text_area" placeholder={{doctorDetails.Doc_Address}} ng-model="doctorDetails.Doc_Address"/>
      </label>


     <label class="item item-input item-floating-label-1 cust_item_input" style ="padding-bottom:30px !important;">
        <span class="input-label">Locality</span>
        <input type="text" class="cust_input_text" placeholder={{doctorDetails.Doc_Locality}} ng-model="doctorDetails.Doc_Locality" />
      </label>

      </div>
      </div>

    </div>
  </div>




 <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 1px;" >
   <div class="list card" style="margin-bottom: 0px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

  <div class="list card list-inset marginCard"  style="margin-bottom: 20px;">
    <ion-item class="itemBottomBorderPadding">
        <i>QUALIFICATION</i>
  </ion-item>

    <div class="list ">
      <label class="item item-input item-floating-label-1 cust_item_input">
        <span class="input-label">Study</span>
        <input type="text" class="cust_input_text" placeholder={{doctorDetails.qual}} disabled>
      </label>

  </div>
  <a class="button button-block button-assertive button-outline cust_btn_margin" ng-click="openQualificationModal()">
      + Add Qualification
  </a>
</div>
</div>
</div>


 <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 1px;" >
   <div class="list card" style="margin-bottom: 0px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

<div class="list card list-inset marginCard" style="margin-bottom: 20px;">
  <ion-item class="itemBottomBorderPadding">
      <i>EXPERIENCE</i>
</ion-item>
  <div class="list">
    <label class="item item-input item-floating-label-1 cust_item_input">
      <span class="input-label">Years</span>
      <input type="Number" class="cust_input_text" placeholder={{doctorDetails.Experience}} disabled>
    </label>
</div>
<a class="button button-block button-assertive button-outline cust_btn_margin" ng-click="openExperienceModal()">
    + Add Experience
</a>
</div>
</div>
</div>


 <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 1px;" >
   <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

<div class="list card list-inset marginCard" style="margin-bottom: 20px;">
  <ion-item class="itemBottomBorderPadding">
      <i>MEMBERSHIP</i>
</ion-item>
  <div class="list" ng-repeat="item in doctorDetails.Memberships track by $index" style="margin-bottom: 0px;">
    <label class="item item-input item-floating-label-1 cust_item_input">
     <!--  <span class="input-label"> --><p>
        {{item.type}}
      </p><!-- </span> -->
    </label>
</div>
<a class="button button-block button-assertive button-outline cust_btn_margin" ng-click="openMembershipModal()">
    + Add Membership
</a>
</div>
</div>
</div>

  </ion-content>
</ion-view>
