<ion-popover-view class = "edit_popover" id="editPopover" style="top: {{ hgt }}px!important">
        <ion-content scroll="false">
          <div class="list" ng-click="popoveredit.hide()">
            <a class="item center_edit" ng-click="editClinic()">
              Edit 
            </a>
          </div>
      </ion-content>
</ion-popover-view>
