<ion-modal-view cache-view="false">
  <ion-header-bar align-title="left" class="bar-royal">
    <div class="buttons">
      <a class="button icon ion-close cust_bar" ng-click = "closeExperienceModal()">
      </a>
    </div>
    <h1 class="title">Add Experience</h1>
    <div class="buttons">
      <a class="button icon ion-checkmark-round cust_bar" ng-click = "updateExperience()">
      </a>
    </div>
  </ion-header-bar>
  	<ion-content >
      <div class="list card list-inset marginCard">
        <ion-item class="itemBottomBorderPadding">
            <i>EXPERIENCE</i>
      </ion-item>
        <div class="list">
          <label class="item item-input item-floating-label-1 cust_item_input" style ="padding-bottom:30px !important;">
            <span class="input-label">Years</span>
            <input type="Number" placeholder="2" ng-model="doctorDetails.Experience" maxlength="2">
          </label>
      </div>
      </div>
    </ion-content>
</ion-modal-view>
