<!-- Created by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true" scroll="false">
<ion-content>
 <div class="adjustLoginHome">

      <div class="login_block_1">
            <div class="login_artwork"><img src="./img/artwork1.png" height="140" width="320"/></div>
            <div class="login_title">Forgot Kidoro Id</div>
            <div class="login_sub_title">Please enter your Registered Number!!</div>
      </div>

       <div class="login_block_2">
          <div class="row cust_row">
            <div class="col cust_col">
              <label class="item item-input item-floating-label-1 cust_item_input_1">
                <input type="number" placeholder="Mobile Number" required ng-model="user.mobileNumber">
              </label>
              <button class="button button-block button-royal-1 cust_button_social" ng-click="goToLogin()">
              Send
              </button>
            </div>
          </div>
        </div>
  </div>
</ion-content>
</ion-view>

<!-- Created by Sarswati Kumar Pandey -->
