<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar = "true">

  <ion-slide-box does-continue="true" show-pager='true' slide-interval="2000" auto-play="true">
      <ion-slide ng-repeat="image in images">
          <img ng-src="{{image.imgUrl}}" class="imgSlider"/>
          <p>{{image.txt1}}</p>
          <p>{{image.txt2}}</p>
      </ion-slide>
  </ion-slide-box>

<div class="section_login_2">
  <div class="btn_register_margin">
    <button class="btn_register" ng-click = "goToRegister()">Create New Profile</button>
  </div>

  <div class="cust_sign_in">
    <p class="already_reg_text">Already Registered ?<a href="#" class="sign_in_text" ng-click = "goToLogin()">Sign In</a></p>
  </div>

</div>

</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
