<ion-modal-view cache-view="false">

  <ion-header-bar align-title="left" class="bar-royal">
    <div class="buttons">
      <a class="button icon ion-close cust_bar" ng-click = "closeMembershipModal()">
      </a>
    </div>
    <h1 class="title">Add Membership</h1>
    <div class="buttons">
      <a class="button icon ion-checkmark-round cust_bar" ng-click = "updateMembership()">
      </a>
    </div>
  </ion-header-bar>

  <ion-header-bar class="bar-light bar-subheader search_input_padding_left_top cust_search">
      <div ng-hide = "membershipModal.searchText.length" class="button button-icon ion-ios-search input-button search_icon_position">
      </div>
          <input type="search" placeholder="Search Membership" ng-model="membershipModal.searchText" class="full-width">

        <div ng-hide = "!membershipModal.searchText.length" class="button button-icon ion-android-close input-button search_icon_position" ng-click="clearSearch()">
        </div>
  </ion-header-bar>

  	<ion-content>
      <div class="list">
        <ion-checkbox class = "item-checkbox-right my-checkbox-class" ng-repeat="item in membershipList | filter:membershipModal.searchText"
                      ng-model="item.checked"
                      ng-checked="item.checked">
          {{ item.type }}
        </ion-checkbox>
    </ion-content>
</ion-modal-view>
