<!-- Created  by Sarswati Kumar Pandey -->

<ion-side-menus enable-menu-with-back-views="false" >

  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button >
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class = "contentBackground">

    <ion-content >

      <div class="item item-avtar side-menu-header">
            <div class="adjust_avtar">
            <img ng-show="doctorDetails.Doc_Pic !== null" ng-src="{{doctorDetails.Doc_Pic}}" height="80" class="avtar"/>
            <img ng-show="doctorDetails.Doc_Pic === null" ng-src="./img/noimage.png" height="80" class="avtar"/>
            <h3 class="title colorPatientName">{{doctorDetails.Doc_Name}}
            </h3>
            <h4 class="title_qual">
                {{doctorDetails.qual}}
            </h4>
            <h4 class="title_spec">
                {{doctorDetails.Specialization}}
            </h4>

          </div>
        </div>

      <ion-list>
        <ion-item menu-close ui-sref="menu.appointments" class="item item-icon-left cust_item_color">
          Appointments
        </ion-item>
        <ion-item menu-close ui-sref="menu.patients" class="item item-icon-left cust_item_color">
          Patients
        </ion-item>
        <ion-item menu-close ui-sref="menu.AnalysisReport" class="item item-icon-left cust_item_color">
          Analysis & Reports
        </ion-item>

        <ion-item menu-close ui-sref="menu.doctorClinicDetails" class="item item-icon-left cust_item_color">
          Profile
        </ion-item>

      

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<!-- Created  by Sarswati Kumar Pandey -->
