<ion-modal-view>

  <ion-header-bar class="bar bar-header bar-royal">
      <button class="button button-clear button-primary" ng-click="modal.hide()" style="margin-left: 10px;margin-top: 2px;"><span class="ion-close"></span></button>
    <h1 class="title">{{title}}</h1>
  </ion-header-bar>

  <ion-content class="has-header" ng-controller="patientHistoryModalCtrl"  style="background: #EFF1F5;">

      <div class="item historyAlignCenter">
        <a class="telephoneColor" ng-click="previous()">
          <i class="icon icon-left ion-chevron-left" ng-hide="hidePrev"></i>
        </a>
        <span class = "marginDate">{{medicalRecord.Record_Date}}</span>
        <a class="telephoneColor" ng-click="next()">
          <i class="icon icon-right ion-chevron-right" ng-hide="hideNext"></i>
        </a>
      </div>

      <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 1px;" >
      

       <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

        <!--  <div class="item item-thumbnail-left"> -->
         <div class="list list-inset cust_form_list" style=" margin: 20px 0 20px 20px;">
          
            <p>
              Observations
            <p>
            <p>
            {{medicalRecord.Observation}}
            </p>
        </div>
      </div>


      <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

            <!--  <div class="item item-thumbnail-left"> -->
        <div class="list list-inset cust_form_list" style=" margin: 20px 10px 20px 10px;">

            <p>
              Medications
            </p>

            <div class="item item-input med_item_input" ng-repeat="item in medicalRecord.Medication">
              <div class="row med_row_input">
                <div class="col">
                  <p>
                    {{item.Medicine_Name}}
                  </p>
                </div>
                <div class="col">
                  <p class="alignRight">
                    {{item.Frequency}}, {{item.State}}
                  </p>
                </div>
              </div>
            </div>


            <p>
              Vitals
            </p>


            <div class="item med_item_input">
              <div class="row med_row_input">
              <div class="col vitalCenter">
                <p>
                  BP
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  Weight
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  Height
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  BMI
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  T
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  RR
                </p>
              </div>
                </div>
            </div>


            <div class="item med_item_input">
              <div class="row med_row_input">
              <div class="col vitalCenter">
                <p>
                  {{medicalRecord.Blood_Pressure}}
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  {{medicalRecord.Weight}} Kg
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  {{medicalRecord.Height}}
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  {{medicalRecord.BMI}}
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  {{medicalRecord.Body_Temperature}} &#8457;
                </p>
              </div>
              <div class="col vitalCenter">
                <p>
                  {{medicalRecord.Respiration_Rate}}
                </p>
              </div>
                </div>
            </div>
          </div>
        </div>


            <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">
              <div class="list list-inset cust_form_list" style=" margin: 20px 10px 20px 10px;">


            <P>
              Procedures
            </P>

            <div class="item med_item_input">
              <div class="row med_row_input">
                <div class="col">
                  <p>
                    Consultation
                  </p>
                </div>
                <div class="col">
                  <p class="alignRight">
                     &#8377; {{medicalRecord.Consultation_Fee}} /-
                  </p>
                </div>
              </div>
            </div>
            <div class="item med_item_input" ng-repeat="item in medicalRecord.Procedure_ID">
              <div class="row med_row_input">
              <div class="col">
                <p>
                  {{item.Procedure_Name}}
                </p>
              </div>
              <div class="col">
                <p class="alignRight">
                  &#8377; {{item.Price}} /-
                </p>
              </div>
                </div>
            </div>

            <div class="item med_item_input">
              <div class="row med_row_input">
                <div class="col">
                <p><b>Total</b></p>
                </div>
                <div class="col">
                  <p class="alignRight">
                  <b>  &#8377; {{medicalRecord.Total_Fee}} /-</b>
                  </p>
                </div>
              </div>
            </div>

          </div>
          </div>

          </div>


        </ion-content>
</ion-modal-view>
