<ion-view hide-back-button="true">
    <ion-nav-title>{{title}}</ion-nav-title>

  <ion-nav-buttons side="left">
        <button class="button button-icon button-royal" ui-sref="menu.patients">
            <i class="icon ion-ios-arrow-left"></i>
        </button>
    </ion-nav-buttons>

  <ion-content class="contentColor">

        <div class="item item-avtar side-menu-header-profile">
             <div class="adjust_avtar_profile">
                    <div class="">
                    <img src={{patientData.Profile_Pic_URI}}  height="80" class="avtar_profile">
                    </div>

                   <h3 class="title colorPatientName">{{patientData.User_Name}} </h3>
            
             </div>
        </div>


              <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 1px;" >
                <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

               <!--  <div class="item item-thumbnail-left"> -->
                   <div class="list list-inset cust_form_list" style=" margin: 20px 0 20px 40px;">

                      <span class="input-label">Full Name</span>
                        <p ng-show="patientData.User_Name !==null">{{patientData.User_Name}}</p>
                      <span class="input-label">Baby Date</span>
                      <p ng-show="patientData.Child_Date  !==null">{{patientData.Child_Date}}</p>
                
                   </div>
                 </div>


                 <div class="list card" style="margin-bottom: 60px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

                  <!--  <div class="item item-thumbnail-left"> -->
                      <div class="list list-inset cust_form_list" style="margin: 20px 0 20px 40px;">
                           <span class="input-label">Phone No.</span>
                            <p ng-show="patientData.User_Phone !==null">+91 {{patientData.User_Phone}}</p>
                             <span class="input-label">Email</span>
                            <p ng-show="patientData.User_Mail !==null">{{patientData.User_Mail}}</p>
                      </div>
                   <!--  </div> -->
                </div>
            </div>



    </ion-content>
  <div class="button footer_btn" ng-click = "openModal(patientData.User_Name)">View Medical Records</div>
</ion-view>
