<ion-view view-title="Patients">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-royal ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-header-bar class="bar-light bar-subheader search_input_padding_left_top cust_search">
      <div ng-hide = "search.length" class="button button-icon ion-ios-search input-button search_icon_position">
      </div>
          <input type="search" placeholder="Search Patient by Name or Email" ng-model="search" class="full-width">

        <div ng-hide = "!search.length" class="button button-icon ion-android-close input-button search_icon_position" ng-click="clearSearch()">
        </div>
  </ion-header-bar>


  <ion-content class="has-header" style="background: #EFF1F5;">

   <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: -4px -3px;" >
     <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">


      <div class="list list-inset cust_form_list" style="margin: 10px 10px 10px 10px;">

      <div class="item item-avatar item-icon-right" ng-repeat = "item in patientsList | filter:search" style="border-color: #F5F5F5;">
      <!-- <div ng-click="patientDetails(item)"> -->
      <div class="row rowHeight">
              <div class="col-75" ng-click="patientDetails(item)" >
                      <img class="imgstyle" ng-show="item.Profile_Pic_URI !== undefined" src={{item.Profile_Pic_URI}}></img>
                      <span>
                        <h2 class="h2style">{{item.User_Name}}</h2>
                      </span>
              </div>
              <div class="col-25 ">
                      <button class="button button-clear button-calm" ng-show="item.showChat" style="color:#00999;"  ng-click = "sendMessage(item)">Chat   </button>
                      <button class="button button-clear button-calm" ng-show="item.showInvite" style="color:#00999;" ng-click="sendInvite(item)">Invite
                      </button>

                      <span class="seperator">|</span>
                      <button class="button button-clear button-calm" href="tel: {{item.User_Phone}}" > Call
                      </button>
              </div>
        </div>

       
       </div>

      </div>
     </div>
   </div>

  </ion-content>
</ion-view>
