<ion-popover-view class = "cust_popover">
        <ion-content scroll="false">
          <div class="list" ng-click="popover.hide()">
            <a class="item" ng-click = "editClinic(location)">
              Edit Profile
            </a>
            <a class="item" ng-click="signOut()">
              Sign Out
            </a>
          </div>
      </ion-content>
</ion-popover-view>
