<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-royal">

    <div class="buttons">
      <a class="button icon ion-close cust_bar" ng-click = "closeQualificationModal()"></a>
    </div>


    <h1 class="title">Add Qualification</h1>
    <div class="buttons">
      <a class="button icon ion-checkmark-round cust_bar" ng-click = "updateQualification()"></a>
    </div>

  </ion-header-bar>

  <ion-content>

    <div class="list card list-inset marginCard">

      <ion-item class="itemBottomBorderPadding">
          <i>QUALIFICATION</i>
    </ion-item>

      <div class="list" ng-click="modal.show()">

        
      <label class="item item-input item-floating-label-1 cust_item_input" style ="padding-bottom:30px !important;">
          <span class="input-label">Study</span>
          <input type="text" placeholder="MBBS" ng-model="newQualification.Degree">
        </label>


    </div>

  </div>
  </ion-content>

</ion-modal-view>
