<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true" scroll="false">
<ion-content class="backgroundLoginHome" scroll="true">
   <div class="adjustLoginHome">

      <div class="login_block_1">
            <div class="login_artwork"><img src="./img/artwork2.png" height="140" width="320"/></div>
            <div class="login_title">Create New Profile</div>
            <div class="login_sub_title">Enter your practice details</div>
      </div>


      <div class="login_block_2">
          <div class="row cust_row">
            <div class="col cust_col" ng-form="myForm">

              <label class="item item-input item-floating-label-1 cust_item_input">
                <input type="text" placeholder="Practice Name" required ng-model="user.practiceName">
              </label>

              <label class="item item-input item-floating-label-1 cust_item_input">
                <input type="text" placeholder="Address" required ng-model="user.address">
              </label>

              <label class="item item-input item-floating-label-1 cust_item_input_last">
                <input type="text" placeholder="Locality" required ng-model="user.locality">
              </label>

              <button class="button button-block button-royal-1 cust_button_social btn_space_top" ng-disabled="myForm.$invalid" ng-click="registerSuccess()">
                Create Account
              </button>

            </div>
          </div>
      </div>
   </div>
</ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
