<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true" scroll="false">
<ion-content class="backgroundLoginHome" scroll="true">
   <div class="adjustLoginHome">

      <div class="login_block_1">
            <div class="login_artwork"><img src="./img/artwork1.png" height="140" width="320"/></div>
            <div class="login_title">Create New Profile</div>
            <div class="login_sub_title">Enter your personal details</div>
      </div>


      <div class="login_block_2">
          <div class="row cust_row">
            <div class="col cust_col" ng-form="myForm">

              <label class="item item-input item-floating-label-1 cust_item_input">
                <input type="number" placeholder="Mobile Number" required ng-model="user.mobileNumber" maxlength="10" minlength="10">
              </label>

              <label class="item item-input item-floating-label-1 cust_item_input">
                <input type="email" placeholder="Email ID" required ng-model="user.email">
              </label>

              <label class="item item-input item-floating-label-1 cust_item_input_last">
                <input type="text" placeholder="Full Name" required ng-model="user.fullName" minlength="3">
              </label>

              <button class="button button-block button-royal-1 cust_button_social btn_space_top" ng-disabled="myForm.$invalid" ng-click="nextRegister(user)">
                Next
              </button>

            </div>
          </div>
      </div>
   </div>
</ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
