<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true" scroll="false">
<ion-content>
  <div class="adjustLoginHome">

      <div class="login_block_1">
            <div class="login_artwork"><img src="./img/artwork3.png" height="140" width="320"/></div>
            <div class="login_title">Thank you for joining Kidoro </div>
            <div class="login_sub_title">Our team will contact you soon</div>
      </div>

    </div>
</ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
