<ion-view cache-view="false" hide-back-button="true">
  <ion-nav-title>{{title}}</ion-nav-title>

<ion-nav-buttons side="left">
      <button class="button button-icon" ui-sref="menu.appointments">
          <i class="icon ion-ios-arrow-left"></i>
      </button>
  </ion-nav-buttons>

<ion-content class="contentColor" > 

  <div class="item item-avtar side-menu-header-profile">
       <div class="adjust_avtar_profile">

     
           <span class="cust_photos" ng-repeat="img in imageArray">
            <img ng-src="{{img.image}}" style = "max-width: 100%; max-height: 47px; width: 52px;"></img>
           </span>
           <button ng-click="takePhoto()" class="button button-assertive-1 icon ion-ios-camera-outline" ui-sref="menu.saveMedicalRecord"></button>

        <!-- </div> -->
      </div>
  </div>


      <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 0px;" >
        <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

       <!--  <div class="item item-thumbnail-left"> -->
          <div class="list list-inset cust_form_list" style=" margin: 20px 0 20px 20px;">

                  <ion-item class="cust_flwup">
                  <label class="item item-input item-select cust_flwup_1">
                    <div class="input-label">
                      Follow Up
                    </div>
                    <select class="cust_select" ng-model="followUp" ng-options="option.followUp for option in FollowUpList" ng-change="folloUpChanged(followUp)"></select>
                  </label>
                </ion-item>

       </div>
    </div>


    <div class="list card" style="margin-bottom: 60px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

  <!--  <div class="item item-thumbnail-left"> -->
  <div class="list list-inset cust_form_list">

        <div class="item cust_procedure cust_flwup"><p>PROCEDURES</p></div>
              <ion-item class="cust_procedure_item procedure_item">
                <label class="item item-input cust_flwup_1">
                  <span class="input-label">Consultation</span>
                  <span class="input-label">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&#8377; {{appointmentData.Consultaion_Fee[0].firstVisit}}</span>
                </label>
              </ion-item>

        <ion-item class="cust_procedure_item procedure_item">

              <div class="item item-input cust_flwup_1 cust_proc_input" ng-repeat="input in inputs" ng-form="Form">
                    <span class="col-66"><input type="text" class="cust_input cust_input_level" placeholder="Add New Procedure" ng-model="input.Procedure_Name" required/></span>

                    <span class="col-5" style="font-size: 13px!important;">&#8377; &nbsp;</span>

                    <span class="col-10">
                      <input type="text" ng-disabled="!input.Procedure_Name.length" class="cust_input" placeholder="Price" ng-model="input.Price" ng-change="changePrice()" required/>
                      </span>
                    <span class="col col-10">
                      <button class="button button-clear cust_icon" ng-if="$index == inputs.length - 1" ng-click="addInput()" ng-disabled="Form.$invalid">
                          <i class="icon ion-plus-round cust_icon_plus"></i>
                      </button>
                      <button class="button button-clear cust_icon" ng-if="$index != inputs.length - 1" ng-click="removeInput($index)">
                          <i class="icon ion-minus-round cust_icon_minus"></i>
                      </button>
                    </span>
             </div>

        </ion-item>

                <ion-item class="cust_procedure_item cust_procedure_total">

                      <label class="item item-input cust_flwup_1">
                        <span class="input-label">Total</span>
                        <span class="input-label">&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8377; {{totalPrice}}</span>
                      </label>

                </ion-item>

        </div>
     </div>
   </div>

</ion-content>
<div class="button footer_btn" ng-click="saveMedicalRecord()">Save Notes</div>
</ion-view>
