<ion-view view-title="Clinical Notes Added" hide-back-button="true" cache-view="false">

  <ion-nav-buttons side="left">
    <button class="button button-royal button-icon ion-close cust_close" ng-click="goToAppointment()">
    </button>
  </ion-nav-buttons>

    <ion-content class="contentColor">

    <div class="list list-inset cust_form_list"  style="background-color: #EFF1F5; margin: 0px 0px;" >
      <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

     <!--  <div class="item item-thumbnail-left"> -->
        <div class="list list-inset cust_form_list" style="margin: 20px 10px 20px 10px;">


          <p class="docMiddleName">{{doctorDetails.Doc_Name}}</p>
          <p><span style="float:left" class="docMiddleName">{{appointmentData.Hospital_Name}}</span> </p>
          <p><span style="float:left" class="docMiddleName">{{doctorDetails.Doc_Locality}}</span></p>
          <p><span style="float:right" class="docMiddleName">{{doctorDetails.Doc_Phone}}</span></p>
          <p><span style="float:right" class="docMiddleName">{{doctorDetails.Doc_Email}}</span></p>
        </div>
      </div>



      <div class="list card" style="margin-bottom: 10px; border: 1px Solid #e6e6e6; border-bottom-color: #ccc; box-shadow:0 1px rgba(209,209,206,0.5);">

     <!--  <div class="item item-thumbnail-left"> -->
        <div class="list list-inset cust_form_list" style="margin: 20px 10px 20px 10px;">

          <div class="item medReport">

            <div class="item med_item_report_input_1">
              <p class="patient_Name">{{appointmentData.User_Name}} <span style="float:right">{{medicalRecord.Record_Date}}</span></p>
            </div>

            <label class="item item-input marginItemDivider itemRecordTextColor">
              Follow Up
            </label>

            <label class="item item-input med_observation">
              <span class="cust_name">{{medicalRecord.Follow_Up}}</span>
            </label>

            <label class="item item-input med_marginItemDivider itemRecordTextColor">
              Procedures
            </label>

            <div class="item med_item_input">
              <div class="row med_row_input">
                <div class="col">
                  <p>
                    Consultation
                  </p>
                </div>
                <div class="col">
                  <p class="alignRight">
                     &#8377 {{medicalRecord.Consultation_Fee}} /-
                  </p>
                </div>
              </div>
            </div>

            <div class="item med_item_input" ng-repeat="item in medicalRecord.Procedure_ID">
              <div class="row med_row_input">
              <div class="col" ng-show="item.Procedure_Name.length">
                <p>
                  {{item.Procedure_Name}}
                </p>
              </div>
              <div class="col" ng-show="item.Price.length">
                <p class="alignRight">
                  &#8377 {{item.Price}} /-
                </p>
              </div>
                </div>
            </div>

            <div class="item med_item_input">
              <div class="row med_row_input">
                <div class="col">
                <p><b>Total</b></p>
                </div>
                <div class="col">
                  <p class="alignRight">
                  <b>  &#8377 {{medicalRecord.Total_Fee}} /-</b>
                  </p>
                </div>
              </div>
            </div>

          </div>
      </div>
</div>
</div>
        </ion-content>
</ion-view>
