<ion-view hide-nav-bar="true" >
<ion-content  scroll="false">
    <div class="splashLogo">
       <img class="splashImg" src="./img/final_logo-01.png">
    </div>
    <div class="splashLoading">
    <center>
      <ion-spinner></ion-spinner>
    </center>
	</div>
  </ion-content>
</ion-view>
