<!-- Created  by Sarswati Kumar Pandey -->

<ion-view hide-nav-bar="true" scroll="false">
<ion-content>

  <div class="adjustLoginHome">

      <div class="login_block_1">
            <div class="login_artwork"><img src="./img/artwork1.png" height="140" width="320"/></div>
            <div class="login_title">Welcome</div>
            <div class="login_sub_title">My Login Details !!</div>
      </div>

      <div class="login_block_1">
          <div class="row cust_row">

            <div class="col cust_col" ng-form="myForm">

              <label class="item item-input item-floating-label-1 cust_item_input">
                <input type="number" placeholder="Mobile Number" required ng-model="user.username">
              </label>


              <label class="item item-input item"  style="border-width: 0 0 1px 0; margin:0 28px 0 28px; padding: 0px; border-bottom-color :#939597;">

                <input  type="password" placeholder="Unique Kidoro Code" required ng-model="user.kidoroCode"
                  ng-attr-type="{{showPassword? 'text': 'password'}}" 
                 do-focus="showPassword"/>

                 <ion-toggle ng-model="showPassword" style="border:none;" toggle-class="custom_toggle" >&nbsp;</ion-toggle>

              </label>



              <div class="fpwd">
                <a class="a1" ng-click = "forgotPassword()">Forgot Kidoro Code?</a>
              </div>

              <button class="button button-block button-royal-1 cust_button_social" ng-click="goToHomePage()" ng-disabled="myForm.$invalid">
                Login
              </button>

            </div>

          </div>

          <div class="cust_register">
            <p class="already_reg_text">Not yet registered ?<a href="#" class="sign_in_text" ng-click = "goToRegister()">Create New</a></p>
          </div>

      </div>
  </div>

</ion-content>
</ion-view>

<!-- Created  by Sarswati Kumar Pandey -->
