/* Kidoro Group chat css */

.custom_chat_footer {
background-color: #fff !important;
padding: 0px;
border-top: 1px solid #009999 !important;
background-image: none !important;
box-shadow: none !important;
}
.custom_toggle{
   background-color:#fff;
    border-color:#009999;
}
.ion-android-send:before {
    content: "\f2f6";
    color: #009999;
}
.appoinment_img img{
  height: 100px;
  width: 100px;

}
.timeSlotFont{
  font-size: 11px;
}

.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: -8px;
}

.footer-btn {
  position: absolute !important;
  bottom: 0;
  padding: 0 !important;
}

img.profile-pic {
  width: 40px;
  /*height: 40px;*/
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: -50px;
}

img.profile-pic.right {
  right: -50px;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}


.message-wrapper {
  position: relative;
  margin-bottom: 10px;
}


.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 100%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #ccc;
  color: #009999;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #ccc;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

/* Kidoro Group chat css */


/* Empty. Add your own CSS if you like */
.section_login_2 {
  height: 25%;
}


.card {
  margin: 10px;
  border-radius: 4px;
  box-shadow: none;
}

.bar.bar-royal .title {
    text-transform: capitalize;
}

.showErrorDiv {
  color: #009999;
  font-weight: bold;
  box-shadow: beige;
  margin-top: 15%;
  text-align: center;
}

/* ------custom alert popup-------  */

.custom-popup-alert.popup-container .popup {
  background-color: #fff;
    border-radius: 10px;
    width: 300px;
}

.custom-popup-alert.popup-container .popup-head {
    padding: 15px 10px;
    border-bottom: 0px;
    text-align: center;
      padding-bottom: 10px;
}

.custom-popup-alert.popup-container .popup-body {
    padding-left: 20px;
    overflow: hidden;
  font-size: 18px;
  color:#444242;
    line-height: 1.5;
}


.custom-popup-alert.popup-container .popup-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: -webkit-left;
    padding-left: 10px;


}

.custom-popup-alert.popup-container .popup-buttons {
    flex-direction: row;
    padding-left: 0px;
  padding-right:0px;
  padding-top:10px;
  padding-bottom:0px;
    min-height: 50px;
}

button.button.ng-binding.button-alert-ok {
  color:red;
    background-color: #fff;
  border-left:0px;
  border-right:0px;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

button.button.ng-binding.button-alert-ok.activated {
  color: red;
   background-color: #ddd;
    border-left:0px;
  border-right:0px;
  border-top:0px;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


/* ------custom alert popup-------  */


.border_time_slot {
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 5px;
}

.cust_time_slot {
background-color: #fff;
}

.cust_day_time {
  font-size: 14px !important;
  color: #000 !IMPORTANT;
  font-weight: 500;
}

.cust_plus {
background-color: #009999 !important;
border-color: #009999 !important;
}

.cust_minus {
background-color: #f75d73 !important;
border-color: #f75d73 !important;
}

.imgSlider {
height: 75%
}

.ion-clipboard:before {
    content: url('../img/Prescription2.svg') !important;
    height: 30px;
    width: 30px !important;
    line-height: 0;
}

.input-label {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 45%;
    color: #7B7D7D;
    font-size: 13px;
    border-top-style: none;
}

.cust_input_text {
      font-size: 14px !important;
      color: #504545 !important;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space: nowrap !important;
}

.cust_input_text_area {
  font-size: 14px !important;
      color: #504545 !important;
}

.apt_bg_color {
background-color: #F5F7F6;
}

.button.button-assertive-1 {
    border-color: #058585;
background-color: #058585;
color: #fff;
}

.cust_icon_plus {
  color: #7fcccc;
}

.cust_close::before {
  font-size: 15px !important;
}

.cust_icon_minus {
  color: #f75d73;
}


.cust_icon_minus::before {
  font-size: 15px !important;
}

.cust_icon_plus::before {
font-size: 15px !important;
}



.cust_proc_input {
  min-height: 38px !important;
  height: 36px;
}

.cust_icon {
  padding-right: 15px;
}

.button.button-royal-1 {
 background-color: #f0565e;
 color: #fff;
 border-right-width: thin;
 border-left-width: thin;
}

.cust_button_social{
 margin: 0 !important;
 border-width: 0 !important;
}

.cust_item_input_1{
 padding:20px 30px 25px 30px !important;
}

.cust_item_input_last{
 padding: 20px 30px 5px 30px !important;
 margin-bottom: 30px;
}


.item-floating-label-1 {
 display: block;
 background-color: transparent;
 box-shadow: none;
 border-left: none;
 border-right: none;
 border-top: none;
 border-bottom: none;
}

.item-floating-label-1 input {
 border-bottom: 1.4px solid #939597 !important;
 vertical-align: baseline; }

.item-floating-label-1 input:focus {
 outline: none;
 border-bottom: 1.4px solid #f0565e !important; }


.adjustLoginHome {
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  }

  .login_block_1{
    text-align: center;
    }

    .cust_row{
       padding: 0px;
       margin-bottom: 0px !important;
}
.rowHeight{
  height: 50px!important;
}
.appoinment_row{
  display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -moz-flex;
display: -ms-flexbox;
display: flex;
padding: 5px;
width: 100%;
}
.cust_col{
 padding: 0 !important;
}

.cust_item_input{
 padding:20px 30px 5px !important;
}

.fpwd{
margin-top: 3%;
margin-bottom: 5% !important;
text-align: right;
width: inherit;
margin-left: -25px;
}

.a1 {
text-decoration: none;
color: #757575;
}


    .login_artwork {
       text-align: center;
       padding: 2% 0 6%;
    }

    .login_title {
       color: #009999;
       font-size: 24px;
    }
    .login_sub_title {
       padding: 10px;
       color: #ffbbc6;
    }


.btn_register {
    border-color: #f0565e;
    background-color: #f0565e;
    color: #fff;
    padding: 0 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
    width: 100%;
}

.btn_register_margin {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
}


.cust_sign_in {
  margin-left: 5%;
  margin-right: 5%;
}

.cust_register {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
}

.already_reg_text {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #424242;
}

.sign_in_text {
  text-decoration: none;
    color: #f0565e;
    font-weight: bold;
    margin-left: 10px;
}

#logo {
  margin: 30px 0px;
}

.slider {
  height: 75%;
}

.slider-slide {
  padding-top: 5%;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.slider-pager {
  /*bottom: 0px !important;*/
  bottom: 10px !important;
font-size: 5px;
height: 5px;
}


.splashLogo {
    position: absolute;
    width: 80%;
    max-height: 45%;
    top: 50%;
    left: 50%;
    overflow: visible;
}

 .splashImg{
 position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: -50%;
    margin-left: -50%;
 }

 .splashLoading{
    position: absolute;
    top: 80%;
    right: 45%;
 }


.cust_card {
  margin-top: 10px;
  margin-bottom: 15px;
}

.cust_list_1 {
margin: 15px;
}

.cust_flwup {
  padding: 10px 10px;
}

.cust_flwup_1 {
  padding-top: 0px;
    padding-bottom: 0px;
}

.cust_select {
  padding: 7px 25px 5px 0px !important;
  border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      color: #AAA;

}
.hospital-select{
      border: 0px;
    color: #AAA;
    margin-left: 27px;
    width: 88%;
    padding-top: 5px;
    background-color: #FFF;
}
.hrtag{
     
    height: 0px;
    
    width: 82%;
   
}

.my-checkbox-class .checkbox input:checked:before, .my-checkbox-class .checkbox input:checked + .checkbox-icon:before {
  background: #009999 !important;
  border-color: #009999 !important;
}

.popup-buttons .button {
    background-color: #009999;
    border-color: #009999;
}

.popup-buttons .button.activated {
    background-color: #009999;
    border-color: #009999;
}


.countRow {
padding-left: 15px;
padding-right: 15px;
padding-bottom: 0px;
color: #009999;
border-top: 1px solid;
}
.imgstyle{
      max-height: 50px;
    margin-left: -65px;
}
.h2style{
      margin: -50px;
    margin-left: 0px;
    margin-top: -55px !important;
    text-transform: capitalize;
}
.cust_apt_list_border {
  border-top: 1px solid rgba(255,0,0,0.5);
}

.contentMargin {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      border-left: 5px solid #FAAC1C !important;
      border-right: 0px;

      border-bottom: 0px;
      border-top: 0px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px
}

.contentMarginRed {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      border-left: 5px solid #f0565e !important;
      border-right: 0px;

      border-bottom: 0px;
      border-top: 0px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px
}

.contentMarginVisited {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      border-left: 5px solid #009999 !important;
      border-right: 0px;

      border-bottom: 0px;
      border-top: 0px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px
}

.contentStatus {

      color: #FAAC1C;
      font-size: 11px;

}

.contentStatusRed {


      color: #f0565e;
      font-size: 11px;

}

.contentStatusVisited {
    color: #009999;
    font-size: 11px;

}

.backgroundwhite {
  background-color: #F5F7F6;
}

.medReport {
  border-top: 1px solid rgba(255,0,0,0.3);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 10px;
}

.icons_doc{
  font-size: 13px;
}


.tex-wrap {
   white-space: nowrap;
   width: 90%;
   overflow: hidden;
   text-overflow: ellipsis;

}

.clinicText {
  font-size: 13px !important;
  line-height: initial;
}

.icons_doc img{
  height: 40px;
  width:36px;
}

.med_observation {
padding-left: 10px;
}

.docExp {
  font-size: 15px !important;
}

.clinicName {
  font-size: 15px !important;
}

.assertive_color {
  color: #f0565e !important;
}

.clinicPhone {
  font-size: 13px !important;
}

.docName {
  color: #000 !important;
    font-size: 14px !important;
    font-weight: 500;
}

.patient_Name {
font-size: 13px !important;
font-weight: bold;

}

.docMiddleName {
  padding-left: 15px;
color: #000 !important;
font-size: 14px !important;
font-weight: 500;
/* text-align: center; *
}



.textColorMenu {
  color: #E2E6E6;
  font-size: 15px;
}

.title_name {
  font-size: 13px !important;
      color: #E2E6E6;
}

.title_spec {
  font-size: 12px !important;
      color: #E5E6E6;
      margin: 5px !important;
}

.title_qual {
  font-size: 12px !important;
      color: #E5E6E6;
      margin: 5px !important;
}

.kidColor {
  color: #000;
}


.itemRecordTextColor {
  color: #ccc!important;
font-weight: 500;
font-size: 12px !important;
}

.cust_list {
margin-top: 15px;
margin-bottom: 0px;
}

.med_item_input {
  padding: 0px;
}

.med_item_input_1 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.med_item_input_2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.med_item_report_input_2 {
  padding-top: 0px;
    padding-bottom: 10px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    /*border-bottom: 1px solid red !important;*/
}

.med_item_report_input_1 {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
    padding-bottom: 10px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.med_row_input {
  padding-top: 0px;
  padding-bottom: 0px;
}

.cust_list_family {
  margin-top: 20px;
}

.cust_list_contact {
  margin-top: 0px;
}


.item_input_label {
    margin-left: -25px;
}

.item_cust {
  margin-right: -15px !important;
}

.cust_name {
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  font-size: 13px;
  color: #4E4D4D;
}

.item_detail_kid {
  border: 0px;
  padding-bottom: 2px;
}

.cust_list_kid_code {
  margin-top: 5px;
  margin-bottom: 5px;
}

.kid_id {
  font-size: 12px;
  font-weight: bold;
}

.kid_id_item {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(19, 18, 18, 0.05) !important;
  padding-left: 10px;
  padding-right: 10px;
}

.kid_code {
float: right;
color: #009999;
font-size: 12px;
font-weight: bold;
}

.scroll-bar-indicator
{
 display: none;
}


.search_input_padding_left_top{
 padding: 8px 0 0 35px !important;
}

.cust_search {
  border-bottom-color: #009999 !important;
      border-bottom: 1px solid #009999 !important;
      border-bottom-width: thin;
}

.search_icon_position{
color:#009999 !important;
top:9px !important;
right: 10px !important;
}

.footer_btn {
      position: fixed;
      bottom: 0;
      top: auto;
      border-top-width: 0px;
      border-bottom-width: 0;
      background-position: top;
      height: 50px;
      color: #fff;
      background-color: #f0565e;
      width: 100%;
      left: 0;
      right: 0;
      margin: 0px !important;
      z-index: 20;
      font-size: 18px !important;
      line-height: 25px !important;
      padding: 12px !important;
      min-height: 50px !important;
      border-width: 0px !important;
      border-style: none !important;
      border-radius: 0px !important;
      vertical-align: top !important;
      text-align: center !important;
      text-overflow: ellipsis !important;

}

.footer_btn.activated {
    border-color: #f0565e;
    background-color: #f0565e;
    box-shadow: none !important;
  }

  .footer_btn:hover {
      color: #fff !important;
    }

.cust_docs {
  border-top: 0px;
  padding-top: 0px;
}

.cust_input {
  padding-right: 0px !important;
}


.cust_follow {
  padding: inherit;
}

.cust_procedure {
padding-bottom: 0px;
}

.cust_procedure_item {
  padding-top: 5px;
  border-top: 0px !important;
  padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.procedure_item {
padding-bottom: 2px;
}

.cust_procedure_total {
padding-top: 20px;
}


.bar {
 height: 55px !important ;
 background-color: #009999;
 border-color: rgba(0, 153, 153, 0);
}

.bar.bar-royal {
 background-color: #009999;
 border-color:#009999;
 background-image: linear-gradient(0deg, #009999, #009999 50%, transparent 50%);
}

.title{
 top:5px !important;
}

.has-header {
    top: 55px;
}

.dateCol {
  text-align: center;
  color: #009999;
  /*color: #f0565e;*/
  /*color: #faac1c;*/
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid;
}

.has-subheader {
   /*top: 100px !important;*/
   /* by saras */
   top: 108px !important;

}



.bar-subheader{
 top: 55px !important;

}

.dayCol {
  text-align: center;
  font-size: 10px;
}

.monthYear {
  margin-left: 15px;
  margin-right: 15px;
}

.monthYearHeader {
  text-align: center;
  font-size: initial;
}

.border_top {
  border-top: 0px;
  margin-top: -20px;
}

.cust_popover {
      margin-top: 5px !important;

      /*margin-left: 70px !important;*/
      border-radius: 2px !important;
      /* box-shadow: none !important; */
      height: 110px;
      width: 150px;
}

input[disabled] {
  background-color: transparent !important;
}
.center_edit{
      top: -10px;
}
.edit_popover{
      /*top: 397px;*/
    left: 242px;
    margin-left: 0px;
    opacity: 1;
    height: 40px;
    width: 65px;
}
.cust_Rupees {
max-width: 10px;
    width: 15%;
}

.cust_Rupees_Next {
  margin-right: 200px;
}

.cust_divider {
      border-top: none;
      border-left: none;
      border-right: none;
      padding-top: 0px;
      padding-bottom: 5px;
}

.adjustDays {
  margin-left: -12px;

}

.cust_bar {
  border-color: #009999 !important;
  background-color: #009999 !important;
  margin-top: 5px;
}

 .bar-royal .button.activated {
    border-color: none !important;
    background-color: #009999 !important;
    box-shadow: none !important;

}

.contentBackground {
  background-color: #009999;
  height: 100%!important;
}

.rightBorder {
border-right: none;
    color: #8C8C87;
    font-size: 15px !important;
    font-weight: bold;
}

.itemColor {
  background-color: #E9F9F8;
}

.marginCard .list-inset{
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.bottomBorderColor {
      border-bottom-color: rgba(247, 93, 115, 0.18);
}

.doc_membership {
  padding-bottom: 10px !important;
}

.docContactPadding {
  padding-top: 0px;
  padding-bottom: 5px;
}

.textAlignCenter {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /*border-bottom: 1px solid #F45D74;*/
}

.historyAlignCenter {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F45D74;
}

.vitalCenter {
  text-align: center;
  padding: 0px;
}

.marginDate {
  margin-left: 20px;
      margin-right: 20px;
      color: #757171;
      font-size: 14px;
}

.kidoroId {
  text-align: right;
    color: #009999 !important;
}

.alignRight {
  text-align: right;
}

.alignRightPadding {
  text-align: right;

}

.zeroBorder {
  border: 0px;
}

.itemTopBorder {
border-top-width: 0px;
}

.itemBottomBorder {
border-bottom-width: 0px;
}

.itemBottomBorderPadding {
border-bottom-width: 0px;
padding-bottom: 0px !important;
padding-top: 20px;
}

.cust_btn_margin {
  margin-left: 10px;
  margin-right: 10px;
  border-color: #f0565e !important;
}

.removeShadow {
  box-shadow: none;
}

.cust_border {
      border-left: 1px solid #ccc !important;
      border-right: 1px solid #ccc!important;
      border-top: 1px solid #ccc !important;
      border-bottom: 1px solid #ccc !important;
}

.marginItemDivider {
  margin-top: 0px;
      border: 0px;
      font-size: 13px;
      color: #736F6F;
      padding-top: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
    padding-left: 0px;
}

.marginItemDivider_contact {
  margin-top: 0px;
      border: 0px;
      font-size: 13px;
      color: #736F6F;
      padding-top: 0px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-left: 0px;
}

.med_marginItemDivider {
  margin-top: 15px;
      border: 0px;
      font-size: 13px;
      color: #736F6F;
      padding-top: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
    padding-left: 0px;
}

.itemLogo {
  -webkit-user-drag: none;
      max-width: 75px !important;
      max-height: 75px !important;
      margin-top: -3px;
      margin-left: -10px;
      min-height: 70px !important;
      height: 100% !important;
      width: 50% !important;
}

.cust_item_color {
  border-color: #009999;
  background-color: #009999;
  color: #fff;
}

.cust_item_color a {
  background-color: #009999 !important;
}

.cust_item_color a:active {
  background-color: none !important;
}

/* search box css */
.full-width {
  width: 100%;
}

.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

/* side menu css */
.side-menu-header {
  background-color: rgb(3, 156, 156);
  text-align: center;
  height: 270px;
}

.adjust_avtar {
margin-top:50px;
}

.avtar {
    -webkit-user-drag: none;
    position: static;
    top: 16px;
    left: 16px;
    max-width: 90px;
    max-height: 90px;
    width: 100%;
     height: 100%;
    border-radius: 100%;
}

.colorPatientName {
  color:#fff !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}
.colorPatientName_a {
  color:#05706d !important;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.telephone {
text-decoration: none !important;
color: inherit;
}

.telephone_med {
  text-decoration: none !important;
  color: #009999;
}



.telephoneColor {
  text-decoration: none !important;
  color: #f0565e;

}

.info_Button{
      position: fixed;
    right: 70px !important;
    margin-top: -15px;
    color: #009999;
    font-size: 30px;
}

/* Empty. Add your own CSS if you like */

/* CSS created by Sarswati Kumar Pandey for Appointment.html */

/* Summary Report CSS */
.marginTop {
margin-top: 10px !important;

}

.itemBottomMargin {
  margin-bottom: 10px !important;

}

.reportBackground {
background-color: #EAE5E5;
}

/* Summary Report CSS */

.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

.full-width {
  width: 100%;
}

.checkboxIcon {
    border: none;
    margin-top: -15px;
    margin-bottom: -15px;
}

.decorateLabelMedication {
  background-color: silver;
}

.patientName {
  overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      font-size: 14px;
      border-left: 1px solid #E4E6E4;
      padding-left: 10px;
      text-transform: capitalize;
}


.timeApt {
  font-size: 11px;
    margin-left: -5px;
    padding-left: 0px;
        padding-top: 15px;
}


.leftclipboard {
  color: #7B7D7D;
}

.lefttelephone {
color: #7B7D7D;
}




.telephone {
text-decoration: none !important;
color: inherit;
}

.appointmentLengthRight {
text-align: right;
}

.alignCalender {
  align:right;
}

.colorAdd {
color: green;
}

.colorBlock {
color: red;
}

/* Model fade in css */

.fade-in {
  -webkit-transform: scale(0.0);
  transform: scale(0.0);
  opacity: 0;
}
.fade-in.ng-enter, .fade-in > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 250ms;
}
.fade-in.ng-enter-active,
.fade-in > .ng-enter-active {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 1;
}

.fade-in.ng-leave, .fade-in > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}
/* Model fade in css */

/* animation */

.slide-in-left-right {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.slide-in-left-right.ng-enter, .slide-in-left-right > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left-right.ng-enter-active, .slide-in-left-right > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left-right.ng-leave, .slide-in-left-right > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

/* animation end */

.slide-in-left {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }


.updateRow {
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    margin-top: 5px;
    border-radius: 10px;
     text-align: center;
}

/*fab button*/
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}
.fab-button {
    background-color: #faac1c;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: none;
    z-index: 20;
    width: 56px;
    height: 56px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-transition-property: -webkit-transform, box-shadow;
    transition-property: transform, box-shadow;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.fab-button.activated {
    opacity: 0.9;
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.fab-button .icon {
    font-size: 24px;
    color: #ffffff;
}


/**
 * @license angular-bootstrap-datetimepicker  v0.3.0
 * (c) 2013 Knight Rider Consulting, Inc. http://www.knightrider.com
 * License: MIT
 */

.datetimepicker {
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    width: 240px;
}

.datetimepicker.datetimepicker-rtl {
    direction: rtl;
}

.datetimepicker.datetimepicker-rtl table tr td span {
    float: right;
}

.datetimepicker-dropdown, .datetimepicker-dropdown-left {
    top: 0;
    left: 0;
}

[class*=" datetimepicker-dropdown"]:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
}

[class*=" datetimepicker-dropdown"]:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
}

[class*=" datetimepicker-dropdown-top"]:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0;
}

[class*=" datetimepicker-dropdown-top"]:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff;
    border-bottom: 0;
}

.datetimepicker-dropdown-bottom-left:before {
    top: -7px;
    right: 6px;
}

.datetimepicker-dropdown-bottom-left:after {
    top: -6px;
    right: 7px;
}

.datetimepicker-dropdown-bottom-right:before {
    top: -7px;
    left: 6px;
}

.datetimepicker-dropdown-bottom-right:after {
    top: -6px;
    left: 7px;
}

.datetimepicker-dropdown-top-left:before {
    bottom: -7px;
    right: 6px;
}

.datetimepicker-dropdown-top-left:after {
    bottom: -6px;
    right: 7px;
}

.datetimepicker-dropdown-top-right:before {
    bottom: -7px;
    left: 6px;
}

.datetimepicker-dropdown-top-right:after {
    bottom: -6px;
    left: 7px;
}

.datetimepicker > div {
    display: none;
}

.datetimepicker.minutes div.datetimepicker-minutes {
    display: block;
}

.datetimepicker.hours div.datetimepicker-hours {
    display: block;
}

.datetimepicker.days div.datetimepicker-days {
    display: block;
}

.datetimepicker.months div.datetimepicker-months {
    display: block;
}

.datetimepicker.years div.datetimepicker-years {
    display: block;
}

.datetimepicker table {
    margin: 0;
    width: 100%;
}

.datetimepicker .table td,
.datetimepicker .table th {
    text-align: center;
    width: 14.6%;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}
.datetimepicker .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > td,
.datetimepicker .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: transparent;
}
.datetimepicker table tr td.minute:hover {
    background: #eeeeee;
    cursor: pointer;
}

.datetimepicker table tr td.hour:hover {
    background: #eeeeee;
    cursor: pointer;
}

.datetimepicker table tr td.day:hover {
    background: #eeeeee;
    cursor: pointer;
}

.datetimepicker table tr td.past,
.datetimepicker table tr td.future {
    color: #999999;
}

.datetimepicker table tr td.disabled,
.datetimepicker table tr td.disabled:hover {
    background: none;
    color: #999999;
    cursor: default;
}

.datetimepicker table tr td.today,
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today.disabled:hover {
    background-color: #fde19a;
    background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
    background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: linear-gradient(top, #fdd49a, #fdf59a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
    border-color: #fdf59a #fdf59a #fbed50;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today:hover:hover,
.datetimepicker table tr td.today.disabled:hover,
.datetimepicker table tr td.today.disabled:hover:hover,
.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today:hover.disabled,
.datetimepicker table tr td.today.disabled.disabled,
.datetimepicker table tr td.today.disabled:hover.disabled,
.datetimepicker table tr td.today[disabled],
.datetimepicker table tr td.today:hover[disabled],
.datetimepicker table tr td.today.disabled[disabled],
.datetimepicker table tr td.today.disabled:hover[disabled] {
    background-color: #fdf59a;
}

.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active {
    background-color: #fbf069 \9;
}

.datetimepicker table tr td.active,
.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active:hover:hover,
.datetimepicker table tr td.active.disabled:hover,
.datetimepicker table tr td.active.disabled:hover:hover,
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active:hover.disabled,
.datetimepicker table tr td.active.disabled.disabled,
.datetimepicker table tr td.active.disabled:hover.disabled,
.datetimepicker table tr td.active[disabled],
.datetimepicker table tr td.active:hover[disabled],
.datetimepicker table tr td.active.disabled[disabled],
.datetimepicker table tr td.active.disabled:hover[disabled] {
    background-color: #0044cc;
}

.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
    background-color: #003399 \9;
}

.datetimepicker table tr td span {
    display: block;
    width: 31%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.datetimepicker span.hour {
    height: 26px;
    line-height: 26px;
}

.datetimepicker span.minute {
    height: 26px;
    line-height: 26px;
}

.datetimepicker table tr td span:hover {
    background: #eeeeee;
}

.datetimepicker table tr td span.disabled,
.datetimepicker table tr td span.disabled:hover {
    background: none;
    color: #999999;
    cursor: default;
}

.datetimepicker table tr td span.active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active:hover:hover,
.datetimepicker table tr td span.active.disabled:hover,
.datetimepicker table tr td span.active.disabled:hover:hover,
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active:hover.disabled,
.datetimepicker table tr td span.active.disabled.disabled,
.datetimepicker table tr td span.active.disabled:hover.disabled,
.datetimepicker table tr td span.active[disabled],
.datetimepicker table tr td span.active:hover[disabled],
.datetimepicker table tr td span.active.disabled[disabled],
.datetimepicker table tr td span.active.disabled:hover[disabled] {
    background-color: #0044cc;
}

.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active {
    background-color: #003399 \9;
}

.datetimepicker table tr td span.past,
.datetimepicker table tr td span.future {
    color: #999999;
}



.datetimepicker thead tr:first-child th,
.datetimepicker tfoot tr:first-child th {
    cursor: pointer;
}

.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot tr:first-child th:hover {
    background: #eeeeee;
}

.button.button-royal {
    border-color: #009999;
    background-color: #009999;
    color: #fff;
}

/* animation end */

/* CSS created by Sarswati Kumar Pandey for patientDetails.html */


/* CSS created by Sarswati Kumar Pandey */

/*-------------------- Created by Divyen ----------------------*/


.avtar {
    -webkit-user-drag: none;
    position: static;
    top: 16px;
    left: 16px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
     height: 100%;
    border-radius: 50%;
}

.avtar_no_img {

}

.avtar_profile {
    -webkit-user-drag: none;
    position: static;
    top: 16px;
    left: 16px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
     height: 100%;
    border-radius: 50%;
}

.adjust_avtar {
margin-top:90px;

}

.adjust_avtar_profile {
  margin-top: 45px;
}


.side-menu-header-profile {
  background-color: #009999;
  text-align: center;
  height: 255px;
  border: 0px;
  border-color: #faac1c !important;
}


.cust_btn_profile {

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 2px !important;
    background-color: #fff;
    border-color: #fff;
    color: #ccc;
    border-radius: 0px !important;
}

/*a#btn_mom{
  border-bottom-color: #faac1c !important;
}*/
/*a#btn_kid{
  border-bottom-color: #faac1c !important;
}*/

span.seperator {
    margin-top: 12px;
    position: absolute;
    color: #ccc;
}

.item-button-right {
   height: 34px;
   width: 34px;
   float: right;
}
a.item-button-right {
   right:0px !important;
}

.contentColor{
  background: #EFF1F5;
}
